---
import { Image } from 'astro:assets';
---
<section id="About" class="w-full max-w-[1200px] mx-auto py-12 px-3 md:px-[72px] lg:px-[110px] flex flex-col justify-center items-center min-h-[600px] gap-6">
  <h2 class="text-[36px] lg:text-[48px] text-primary font-semibold">A Sempre Visão</h2>
  <section class="grid grid-cols-1 lg:grid-cols-2 min-h-[450px] w-full gap-12 h-fit">
    <article class="flex flex-col justify-center gap-3 w-full">
      <p class="text-[18px] text-primary font-semibold leading-relaxed">
        Com intuito de trazer ainda mais qualidade de vida e saúde para os
        pacientes das Clínicas Sempre Sorrindo, o grupo inova mais uma vez e
        em 2025 inaugura a Sempre Visão, a clínica oftalmológica da sua
        família.
      </p>
      <p class="text-[18px] text-primary font-semibold leading-relaxed">
        Trazendo o conceito do grupo Sempre Sorrindo com serviço de
        excelência e tecnologia de ponta, com os melhores profissionais do
        mercado e uma estrutura completa, a Sempre Visão conta com grande
        variedade de exames e um centro cirúrgico próprio o que garante para
        os nossos pacientes muito mais conforto, segurança e tranquilidade,
        possibilitando cirurgias de catarata sem filas, consultas de vista e
        exames especializados.
      </p>
      <p class="text-[18px] text-primary font-semibold leading-relaxed">
        Pois ver é viver. E disso, a gente entende.
      </p>
    </article>
    <figure class="relative h-[400px] w-full">
      <Image
        src="/IMG_0898.webp"
        alt="Equipe de médicos realizando exame oftalmológico na Sempre Visão"
        width={800}
        height={400}
        class="absolute inset-0 w-full h-full object-cover rounded-[10px]"
        loading="lazy"
      />
    </figure>
  </section>
</section>
