---
import { Image } from 'astro:assets';
---
<figure class="w-[150px] h-[150px] relative flex items-center justify-center shrink-0">
  <a href="/">
    <Image
      src="/logo.png"
      alt="Logo Clínica Oftalmológica Sempre Visão"
      width={150}
      height={150}
      class="object-contain w-full h-full"
      loading="eager"
    />
  </a>
</figure>
